In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [2]:
data = pd.read_csv('../data/Fvote.csv', encoding='utf-8')
data.head()

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,0,1,0,0,0,0,1,3,3,3,2,2,4.0,1,2
1,0,1,0,0,1,0,0,2,3,3,2,4,3.0,0,3
2,0,1,0,1,0,0,0,1,2,4,1,3,2.8,1,4
3,1,0,0,0,0,1,0,2,1,3,5,4,2.6,1,1
4,0,1,0,0,0,1,0,1,2,4,4,3,2.4,1,1

In [3]:
X = data[data.columns[1:14]]
y = data[['vote']]

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

print(X_train.shape)
print(X_test.shape)

(158, 13)
(53, 13)

In [5]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [6]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, X_train, y_train, cv=5)
print(f"{scores}")

[1. 1. 1. 1. 1.]

In [12]:
from sklearn.model_selection import KFold

kfold = KFold(n_splits=5, shuffle=True, random_state=42)
print(kfold)
print(type(kfold))
scores = cross_val_score(model, X_train, y_train, cv=kfold)
print(f"{scores}")

KFold(n_splits=5, random_state=42, shuffle=True)
<class 'sklearn.model_selection._split.KFold'>
[1. 1. 1. 1. 1.]

In [14]:
from sklearn.model_selection import ShuffleSplit

shuffle_split = ShuffleSplit(test_size=0.5, train_size=0.5, random_state=42)
scores = cross_val_score(model, X_train, y_train, cv=shuffle_split)
print(f"{scores}")

[1.         1.         1.         1.         1.         1.
 0.98734177 1.         0.98734177 1.        ]