In [1]:
import numpy as np
import pandas as pd

In [2]:
train_data = pd.read_csv('../data/train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
test_data = pd.read_csv('../data/test.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [7]:
test_data.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [8]:
women = train_data.loc[train_data.Sex == 'female']['Survived']
rate_women = sum(women) / len(women)

print(f"% of women who survived: {rate_women * 100}")

% of women who survived: 74.20382165605095

In [9]:
women = train_data[train_data['Sex'] == 'male']['Survived']
rate_women = sum(women) / len(women)

print(f"% of women who survived: {rate_women * 100}")

% of women who survived: 18.890814558058924

In [10]:
y_train = train_data['Survived']

features = ["Pclass", "Sex", "SibSp", "Parch"]
X_train = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

print(f"x train shape: {X_train.shape}")
print(f"x test shape: {X_test.shape}")

x train shape: (891, 5)
x test shape: (418, 5)

In [11]:
# X_train['Fare'] = train_data['Fare']
# X_test['Fare'] = test_data['Fare']
# X_test[X_test.isnull() == True] = 0

In [12]:
X_train['Age'] = train_data['Age']
X_test['Age'] = test_data['Age']

X_train[X_train.isnull() == True] = X_train['Age'].mean()
X_test[X_test.isnull() == True] = X_test['Age'].mean()

In [13]:
print(X_train.info())
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      891 non-null    int64
 1   SibSp       891 non-null    int64
 2   Parch       891 non-null    int64
 3   Sex_female  891 non-null    uint8
 4   Sex_male    891 non-null    uint8
 5   Age         891 non-null    float64
dtypes: float64(1), int64(3), uint8(2)
memory usage: 29.7 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      418 non-null    int64
 1   SibSp       418 non-null    int64
 2   Parch       418 non-null    int64
 3   Sex_female  418 non-null    uint8
 4   Sex_male    418 non-null    uint8
 5   Age         418 non-null    float64
dtypes: float64(1), int64(3), uint8(2)
memory usage: 14.0 KB
None

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X_train, y_train)

train_predictions = model.predict(X_train)
predictions = model.predict(X_test)

print(classification_report(y_train, train_predictions))

              precision    recall  f1-score   support

           0       0.84      0.91      0.87       549
           1       0.83      0.73      0.77       342

    accuracy                           0.84       891
   macro avg       0.83      0.82      0.82       891
weighted avg       0.84      0.84      0.83       891

In [15]:
from sklearn.model_selection import GridSearchCV, KFold
from sklearn.svm import SVC

# model_svc = SVC()
# kf = KFold(n_splits=4)

# params_svc = {'C': [1, 2, 5, 8, 10], 
#               'kernel': ('linear', 'poly', 'rbf', 'sigmoid'),
#               'gamma': ('scale', 'auto')}
# gs_svc = GridSearchCV(estimator=model_svc, param_grid=params_svc, 
#                       cv=kf, verbose=1, scoring='accuracy') 
# gs_svc.fit(X_train, y_train)

# print(gs_svc.best_params_)

In [21]:
model_svc = SVC(C=5.0, kernel='rbf', gamma='auto')
model_svc.fit(X_train, y_train)

train_predictions = model_svc.predict(X_train)
predictions = model_svc.predict(X_test)

print(classification_report(y_train, train_predictions))

              precision    recall  f1-score   support

           0       0.88      0.93      0.91       549
           1       0.88      0.80      0.84       342

    accuracy                           0.88       891
   macro avg       0.88      0.87      0.87       891
weighted avg       0.88      0.88      0.88       891

In [17]:
rfc = RandomForestClassifier()
kf = KFold(n_splits=5)

range_estimators = [10, 20, 50, 100, 150, 200]
range_depth = [1, 5, 10, 15, 20]

params_rfc = {'n_estimators': range_estimators, 
              'max_depth': range_depth}
gs_rfc = GridSearchCV(estimator=rfc, param_grid=params_rfc, cv=kf, 
                      verbose=1, scoring='accuracy') 
gs_rfc.fit(X_train, y_train)
print(gs_rfc.best_params_)

Fitting 5 folds for each of 30 candidates, totalling 150 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

{'max_depth': 5, 'n_estimators': 150}

[Parallel(n_jobs=1)]: Done 150 out of 150 | elapsed:   14.5s finished

In [23]:
rfc = RandomForestClassifier(n_estimators=150, max_depth=5, random_state=1)
rfc.fit(X_train, y_train)

train_predictions = rfc.predict(X_train)
predictions = rfc.predict(X_test)

print(classification_report(y_train, train_predictions))

              precision    recall  f1-score   support

           0       0.84      0.91      0.87       549
           1       0.83      0.73      0.78       342

    accuracy                           0.84       891
   macro avg       0.84      0.82      0.83       891
weighted avg       0.84      0.84      0.84       891

In [24]:
output = pd.DataFrame({'PassengerID': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!