# 3. 머신러닝 맛보기2: 회귀문제

3.1 분석 데이터 검토

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/house_price.csv', encoding='utf-8')
print(data.shape)

(17689, 6)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17689 entries, 0 to 17688
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   housing_age  17689 non-null  int64
 1   income       17689 non-null  float64
 2   bedrooms     17689 non-null  float64
 3   households   17689 non-null  float64
 4   rooms        17689 non-null  float64
 5   house_value  17689 non-null  int64
dtypes: float64(4), int64(2)
memory usage: 829.3 KB

In [4]:
data.describe()

,housing_age,income,bedrooms,households,rooms,house_value
count,17689.000000,17689.000000,17689.000000,17689.000000,17689.000000,17689.000000
mean,27.378823,3.671141,0.213278,2.952117,5.244001,189043.439313
std,11.280230,1.525937,0.051167,0.731573,1.184922,95487.122628
min,1.000000,0.499900,0.100000,0.750000,1.640000,14999.000000
25%,18.000000,2.532900,0.177464,2.470270,4.426829,114400.000000
50%,28.000000,3.453900,0.204104,2.854962,5.190779,171100.000000
75%,36.000000,4.591800,0.240157,3.316092,5.953728,242700.000000
max,51.000000,9.905500,0.498127,6.954023,11.901869,500000.000000

3.2 특성(x)과 레이블(y) 나누기

In [5]:
X = data[['housing_age', 'income', 'bedrooms', 'households', 'rooms']]
y = data[['house_value']]

print(X.shape)
print(y.shape)

(17689, 5)
(17689, 1)

3.3 train-test 데이터셋 나누기

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

3.4 정규화

In [11]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

scaler_minmax = MinMaxScaler()
scaler_standard = StandardScaler()

scaler_minmax.fit(X_train)
scaler_standard.fit(X_train)

X_scaled_minmax_train = scaler_minmax.transform(X_train)
X_scaled_standard_train = scaler_standard.transform(X_train)

X_scaled_minmax_test = scaler_minmax.transform(X_test)
X_scaled_standard_test = scaler_standard.transform(X_test)

In [8]:
pd.DataFrame(X_scaled_minmax_train).describe()

                  0             1             2             3             4
count  13266.000000  13266.000000  13266.000000  13266.000000  13266.000000
mean       0.526774      0.337157      0.284682      0.357657      0.335256
std        0.224853      0.161972      0.129011      0.118029      0.117614
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.340000      0.217083      0.194600      0.280091      0.254470
50%        0.540000      0.313983      0.261866      0.342512      0.330405
75%        0.700000      0.435921      0.352555      0.416829      0.405879
max        1.000000      1.000000      1.000000      1.000000      1.000000

In [9]:
pd.DataFrame(X_scaled_standard_train).describe()

                  0             1             2             3             4
count  1.326600e+04  1.326600e+04  1.326600e+04  1.326600e+04  1.326600e+04
mean   7.163809e-17  1.414015e-16  8.012754e-16 -3.802844e-17 -3.706434e-16
std    1.000038e+00  1.000038e+00  1.000038e+00  1.000038e+00  1.000038e+00
min   -2.342832e+00 -2.081653e+00 -2.206729e+00 -3.030366e+00 -2.850578e+00
25%   -8.306782e-01 -7.413514e-01 -6.982778e-01 -6.572081e-01 -6.868994e-01
50%    5.882409e-02 -1.430799e-01 -1.768626e-01 -1.283229e-01 -4.124140e-02
75%    7.704259e-01  6.097813e-01  5.261181e-01  5.013487e-01  6.004859e-01
max    2.104679e+00  4.092478e+00  5.544819e+00  5.442457e+00  5.652123e+00

In [12]:
pd.DataFrame(X_scaled_minmax_test).describe()

                 0            1            2            3            4
count  4423.000000  4423.000000  4423.000000  4423.000000  4423.000000
mean      0.529984     0.337189     0.284061     0.362482     0.338222
std       0.227852     0.163047     0.127044     0.122663     0.119826
min       0.000000     0.000000     0.044099     0.051525    -0.023437
25%       0.340000     0.213011     0.194452     0.281143     0.254633
50%       0.540000     0.314536     0.260169     0.344791     0.331819
75%       0.700000     0.433109     0.351367     0.424120     0.410090
max       1.000000     0.992462     0.975243     1.011026     0.998799

In [13]:
pd.DataFrame(X_scaled_standard_test).describe()

                 0            1            2            3            4
count  4423.000000  4423.000000  4423.000000  4423.000000  4423.000000
mean      0.014279     0.000196    -0.004814     0.040879     0.025222
std       1.013373     1.006675     0.984789     1.039304     1.018846
min      -2.342832    -2.081653    -1.864897    -2.593803    -3.049856
25%      -0.830678    -0.766493    -0.699423    -0.648287    -0.685507
50%       0.058824    -0.139666    -0.190013    -0.109012    -0.029221
75%       0.770426     0.592419     0.516912     0.563130     0.636293
max       2.104679     4.045937     5.352917     5.535878     5.641914

In [14]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_scaled_minmax_train, y_train)

LinearRegression()

In [15]:
pred_train = model.predict(X_scaled_minmax_train)
model.score(X_scaled_minmax_train, y_train)

0.5706921210926263

In [16]:
pred_test = model.predict(X_scaled_minmax_test)
model.score(X_scaled_minmax_test, y_test)

0.5826083517811863

In [24]:
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error

MSE = mean_squared_error(y_test, pred_test)
RMSE = np.sqrt(MSE)
MAE = mean_absolute_error(y_test, pred_test)
MAPE = np.mean(np.abs((y_test - pred_test) / y_test)) * 100
MPE = np.mean((y_test - pred_test) / y_test) * 100

print(f"MSE  : {MSE}")
print(f"RMSE : {RMSE}")
print(f"MAE  : {MAE}")
print(f"MAPE : {MAPE[0]}")
print(f"MPE  : {MPE[0]}")

MSE  : 3814773021.7308283
RMSE : 61763.848825432084
MAE  : 46218.35635910519
MAPE : 30.330320429440903
MPE  : house_value   -12.178049
dtype: float64